@{
    <body style="background-color:black">
        <div style="display:grid;grid-template-columns:1fr 1fr 1fr 1fr ;grid-column-gap:10px;grid-row-gap:10px;margin:20px">
            <div class="flip-card" style="width:300px;height:305px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/Makeup.jpg" alt="Avatar" style="width:300px;height:305px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Bridal Makeups</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;font-size:15px">
                            <p>Guest Makeup</p><p>3000</p>
                            <p>Puberty Makeup</p><p>5000</p>
                            <p>Basic</p><p>7000</p>
                            <p>MAC</p><p>10000</p>
                            <p>HD</p><p>15000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:300px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/Hair Style.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Hair Styling</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;font-size:15px">
                            <p>Classic/Basic/Straight/V-Cut</p><p>300</p>
                            <p>Frange/Bangs</p><p>150</p>
                            <p>Change/Senoir Styling</p><p>900</p>
                            <p>Layer/Feather Cut</p><p>700</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:320px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/HairSpa.jpg" alt="Avatar" style="width:300px;height:320px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Hair Spa Treatment</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;font-size:15px">
                            <p>Moistrurizing</p><p>500</p>
                            <p>Color Save</p><p>600</p>
                            <p>Frizz Save</p><p>700</p>
                            <p>RepairRejuvenate</p><p>800</p>
                            <p>Schwarzkopt</p><p>1000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:300px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/DeTan.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>DeTan / Bleach</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;font-size:16px">
                            <p>Face /Neck</p><p>350</p>
                            <p>Blouse Line</p><p>400</p>
                            <p>Half Arms /Legs</p><p>300/400</p>
                            <p>Under Arms</p><p>300</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:300px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/KidsCut.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Kids Cut</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;font-size:16px">
                            <p>Medium /Long</p><p>150/200</p>
                            <p>Change of Nail Polish</p><p>300</p>
                            <p>Cut File & polish</p><p>200</p>
                            <p>Ear Studs</p><p>400</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:320px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/Waxing.jpg" alt="Avatar" style="width:300px;height:320px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Flavoured Waxing</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;font-size:16px">
                            <p>Under Arms</p><p>300</p>
                            <p>Half Arms /Legs</p><p>350/500</p>
                            <p>Full Arms /Legs</p><p>700/800</p>
                            <p>Full Back</p><p>600</p>
                            <p>Full Body</p><p>2000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:300px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/Hair Straighting.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back" style="font-size:17px">
                        <h1>Hair Straightening</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;">
                            <p>Smoothening(S/M/L)</p><p>3000/5000/8000</p>
                            <p>Kertaian Treatment(S/M/L)</p><p>3000/5000/8000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:325px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/Add on Mask.jpg" alt="Avatar" style="width:300px;height:325px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Add on Mask and Skin Care</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;font-size:17px">
                            <p>Charcoal</p><p>700</p>
                            <p>UnderArms(Brightening)</p><p>500</p>
                            <p>Neck/Elbow(Brightening)</p><p>500</p>
                            <p>Under Eye(Brightening)</p><p>500</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:335px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/Manicure.jpg" alt="Avatar" style="width:300px;height:335px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Menicure /Pedicure</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;">
                            <p>Coco Butter(MC/PC)</p><p>400/500</p>
                            <p>CoffeCream(MC/PC)</p><p>500/600</p>
                            <p>DeadSea(MC/PC)</p><p>600/700</p>
                            <p>Ice Cream(MC/PC)</p><p>700/800</p>
                            <p>Heel Peel</p><p>1800/2000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:325px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/Scalf treatment.jpg" alt="Avatar" style="width:300px;height:325px;">
                    </div>
                    <div class="flip-card-back" style="font-size:17px">
                        <h1>Scalp Treatment</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;">
                            <p style="font-size:18px">Head Masage and HairWash(M/L)</p><p>500/600</p>
                            <p style="font-size:18px">Dandruff Control(MC/PC)</p><p>800</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card" style="width:300px;height:350px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/HairWashs.jpg" alt="Avatar" style="width:300px;height:350px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Hair Wash and Blow Dry</h1>
                        <div style="display:grid;grid-template-columns:1fr 1fr;font-size:18px">
                            <p>Hair Wash</p><p>300</p>
                            <p>Deep Conditioning</p><p>300</p>
                            <p>Blow Dry(M/L)</p><p>400/500</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <style>
        .flip-card {
            background-color: transparent;
            perspective: 1000px;
            @*Flip Animation*@
        }
        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }
        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .flip-card-front {
            background-color: #bbb;
            color: black;
        }
        .flip-card-back {
            background-color: black;
            color: white;
            transform: rotateY(180deg);
        }
    </style>
}
